alabaster==0.7.9
appdirs==1.4.0
appnope==0.1.0
args==0.1.0
arrow==0.8.0
Babel==2.3.4
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.1
binaryornot==0.4.0
boto==2.43.0
bz2file==0.98
certifi==2016.9.26
chardet==2.3.0
click==6.6
clint==0.5.1
cloudpickle==0.2.1
CommonMark==0.5.4
configparser==3.5.0
cookiecutter==1.4.0
cssselect==1.0.0
cycler==0.10.0
Cython==0.25.1
dask==0.12.0
decorator==4.0.10
Django==1.10.3
docutils==0.13.1
entrypoints==0.2.2
enum34==1.1.6
findspark==1.1.0
flake8==3.2.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
gnureadline==6.3.3
httpretty==0.8.14
imagesize==0.7.1
ipdb==0.10.1
ipykernel==4.5.1
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
jedi==0.9.0
Jinja2==2.8
jinja2-time==0.2.0
joblib==0.10.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
lxml==3.7.0
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.5.2
mementos==1.2.2
mistune==0.7.3
mock==2.0.0
nbconvert==4.2.0
nbformat==4.1.0
nbsphinx==0.2.11
nose==1.3.7
notebook==4.2.3
numexpr==2.6.1
numpy==1.11.3
numpydoc==0.6.0
pandas==0.19.1
path.py==9.0
pathlib2==2.1.0
patsy==0.4.1
Pattern==2.6
pbr==1.10.0
pep8==1.7.0
pexpect==4.2.1
pfr==0.4.7
pickleshare==0.7.4
pkginfo==1.4.1
poyo==0.4.0
prompt-toolkit==1.0.9
protobuf==3.1.0
ptyprocess==0.5.1
pycodestyle==2.2.0
pyflakes==1.3.0
Pygments==2.1.3
pymc3==3.0
pyparsing==2.1.10
pyquery==1.2.17
pystan==2.12.0.0
python-dateutil==2.6.0
pytz==2016.10
pyzmq==16.0.2
qtconsole==4.2.1
recommonmark==0.4.0
requests==2.12.4
requests-toolbelt==0.7.0
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.1
selenium==3.0.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
smart-open==1.3.5
snowballstemmer==1.2.1
Sphinx==1.5.1
sportsref==0.7.13
statsmodels==0.6.1
stevedore==1.18.0
subprocess32==3.2.7
tensorflow==0.12.0rc0
terminado==0.6
Theano==0.8.2
toolz==0.8.2
tornado==4.4.2
traitlets==4.3.1
twine==1.8.1
vboxapi==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
whichcraft==0.4.0
widgetsnbextension==1.2.6
wrapt==1.10.8
