appdirs==1.4.0
appnope==0.1.0
argh==0.26.2
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==1.5.0
boltons==16.5.1
boto3==1.4.3
botocore==1.4.93
certifi==2016.9.26
click==6.7
cloudpickle==0.2.2
configparser==3.5.0
cssselect==1.0.0
dask==0.13.0
decorator==4.0.10
distributed==1.15.0
docutils==0.13.1
entrypoints==0.2.2
enum34==1.1.6
functools32==3.2.3.post2
future==0.16.0
futures==3.0.5
graphviz==0.5.2
HeapDict==1.0.0
html5lib==0.9999999
invoke==0.14.0
ipdb==0.10.1
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8.1
jmespath==0.9.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
livereload==2.5.0
locket==0.2.0
lxml==3.7.1
MarkupSafe==0.23
mementos==1.2.2
mistune==0.7.3
msgpack-python==0.4.8
nbconvert==5.0.0
nbformat==4.2.0
notebook==4.3.1
numexpr==2.6.1
numpy==1.11.3
pandas==0.19.2
pandocfilters==1.4.1
partd==0.3.7
pathlib2==2.1.0
pathtools==0.1.2
pexpect==4.2.1
pickleshare==0.7.4
pluggy==0.4.0
port-for==0.3.1
prompt-toolkit==1.0.9
psutil==5.0.1
ptyprocess==0.5.1
Pweave==0.25
py==1.4.32
Pygments==2.1.3
pyquery==1.2.17
pytest==3.0.5
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.12.4
s3fs==0.0.8
s3transfer==0.1.10
scipy==0.18.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sortedcollections==0.4.2
sortedcontainers==1.5.7
sphinx-autobuild==0.6.0
-e git+git@github.com:mdgoldberg/sportsref.git#egg=sportsref
tblib==1.3.0
terminado==0.6
testpath==0.3
toolz==0.8.2
tornado==4.4.2
tox==2.5.0
traitlets==4.3.1
virtualenv==15.1.0
watchdog==0.8.3
wcwidth==0.1.7
widgetsnbextension==1.2.6
zict==0.1.1
